 #fundo-forms {
  background: url("../img/fundo-form.jpg") fixed;
  background-repeat: no-repeat;

 }
  @media screen and (min-width:300px) and (max-width:660px){
    section {
      width: 80% !important;
      margin: 50px !important;
    
    
    }
    form {
      margin: 0px 50px 0px 50px;
      padding: 100px;
    
    }

}

@media screen and (min-width:667px) and (max-width:1024px){
  section {
    width: 80% !important;
    margin: 50px !important;
  
  
  }
  form {
    margin: 0px 50px 0px 50px;
    padding: 100px;
  
  }

}
  
  section {
    border-radius: 5px;
    border: white solid 3px;
    width: 50%;
    height: 30%;
    margin: auto;
    margin-bottom: 40px;
  
  }
  section h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: white;
  }
  
  form {
    margin: 15px;
    background-color:#322168 ;
    padding: 10px 25px;
    border-radius: 5px;
    color: white;
  }
  
  
  form .input-block label {
    font-size: 18px;
    font-weight: 500;
    color:white;
    font-family: 'Courier New', Courier, monospace;
  }
  
  form .input-block input {
    width: 100% !important;
    display: block;
    padding: 7px !important;
    font-size: 10px !important;
    color: #7159c1 !important;
    border-radius: 2px !important;
    border: 1px solid #ccddef !important;
  }

  form .input-block textarea {
    width: 100% !important;
    display: block !important;
    margin-bottom: 10px;
    padding: 7px !important;
    font-size: 10px !important;
    border-radius: 2px !important;
    border: 1px solid #ccddef !important;
  } 
  form .input-block textarea[placeholder]{
    font-weight: 700;
    font-size: 28px;
  } 
  
  form .btn-enviar {
    display: block !important;
    min-width: 120px !important;
    border: none !important;
    background-color: #7159c1 !important;
    color: white !important;
    border-radius: 25px !important;
    margin: auto !important;
    padding: 7px !important;
  }

  /* APARIÇÃO DO FORM */

  form .input-block:nth-child(1) {
      animation-name: fade;
      animation-duration: 800ms;
      animation-delay: 250ms;
  }

  form .input-block:nth-child(2) {
    animation-name: fade;
    animation-duration: 800ms;
    animation-delay: 550ms;
    animation-fill-mode: backwards;
  }

  form .input-block:nth-child(3) {
    animation-name: fade;
    animation-duration: 800ms;
    animation-delay: 750ms;
    animation-fill-mode: backwards;
  }
  

  @keyframes fade {
      from {
          opacity: 0;
          transform: translateX(-15%);
      }
      to {
          opacity: 1;
          transform: translateX(0%);
      }
  }

  form .btn-enviar {
    animation-name: enviar;
    animation-duration: 800ms;
    animation-delay: 250ms;
    animation-fill-mode: backwards;
  }

  @keyframes enviar {
    from {
        opacity: 0;
        transform: translateX(-85%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

