/** CONFIGURAÇÃO SERVIÇO **/
/** IMAGEM DO TOP**/
.img_top {
    width: 100%; 
    height: 500px;
   }
  
  
   /** CONFIGURAÇÃO DA COR DO CORPO **/
   
  
  img#projetos {
     width: 500px;
     height: 400px;
    -webkit-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
    box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
    border: 1px solid rgb(236, 231, 231);
       border-radius: 5px;
    margin-right: 10px;
  
   }
   .projet {
     padding-left: 20px;
     font-size: 20px;
   }
  
  #intalacoes_eletrica {
      width: 500px;
      height: 400px;
    -webkit-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
    box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
    border: 1px solid rgb(236, 231, 231);
       border-radius: 5px;
  
  }
  .eletric {
    padding-left: 20px;
    font-size: 20px;
  }
   #automatizadores {
    width: 500px;
    height: 400px;
    -webkit-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
    box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
    border: 1px solid rgb(236, 231, 231);
       border-radius: 5px;
   }
   .acesso {
     padding-left: 20px;
     font-size: 20px;
   }
   #monitoramento {
    width: 500px;
    height: 400px;
    -webkit-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
    -moz-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
    box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
    border: 1px solid rgb(236, 231, 231);
       border-radius: 5px;
   }
   .monitorar {
     padding-left: 20px;
     font-size: 20px;
   }

   @media screen and (min-width:320px) and (max-width:667px){
   

    img#projetos {
        width: 100%;
        height: 400px;
       -webkit-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       -moz-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       border: 1px solid rgb(236, 231, 231);
       border-radius: 5px;
       margin-right: 10px;
     
      }
      .projet {
        padding-left: 20px;
        font-size: 20px;
      }
     
     #intalacoes_eletrica {
         width: 100%;
         height: 400px;
       -webkit-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       -moz-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       border: 1px solid rgb(236, 231, 231);
       border-radius: 5px;
     
     }
     .eletric {
       padding-left: 20px;
       font-size: 20px;
     }
      #automatizadores {
          display: block;
          float: left;
       width: 100%;
       height: 400px;
       -webkit-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       -moz-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       border: 1px solid rgb(236, 231, 231);
       border-radius: 5px;
      }
      .acesso {
        padding-left: 20px;
        font-size: 20px;
      }
      #monitoramento {
          float: left;
       width: 100%;
       height: 400px;
       -webkit-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       -moz-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       border: 1px solid rgb(236, 231, 231);
       border-radius: 5px;
      }
      .monitorar {
        padding-left: 20px;
        font-size: 20px;
      }
   }
/** RESPONSIVEL TABLET ****/
   @media screen and (min-width:300px) and (max-width:1024px) {
    .servico-row  h2{
      font-size: 4em;
    }
    
    .img_top {
      margin-top: 150px;
      width: 100%; 
      height: 500px;
     }

    a.navbar-brand span{
      visibility: hidden;
    }

    img#projetos {
        width: 100%;
        height: 400px;
       -webkit-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       -moz-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       border: 1px solid rgb(236, 231, 231);
       border-radius: 5px;
       margin-right: 10px;
     
      }
      .projet {
        padding-left: 20px;
        font-size: 20px;
      }

      .projet li {
        text-decoration: none;
        font-size: 2em;
      }
     
     #intalacoes_eletrica {
         width: 100%;
         height: 400px;
       -webkit-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       -moz-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       border: 1px solid rgb(236, 231, 231);
       border-radius: 5px;
     
     }
     .eletric {
       padding-left: 20px;
       font-size: 20px;
     }

     .eletric li {
      text-decoration: none;
      font-size: 2em;
     }
      #automatizadores {
       width: 100%;
       height: 400px;
       -webkit-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       -moz-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       border: 1px solid rgb(236, 231, 231);
       border-radius: 5px;
      }
      .acesso {
        padding-left: 20px;
        font-size: 20px;
      }

      .acesso li {
        text-decoration: none;
        font-size: 2em;
      }
      #monitoramento {
       width: 100%;
       height: 400px;
       -webkit-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       -moz-box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       box-shadow: 10px 10px  7px rgba(50, 50, 50, 0.77);
       border: 1px solid rgb(236, 231, 231);
       border-radius: 5px;
      }
      .monitorar {
        padding-left: 20px;
        font-size: 20px;
      }

      .monitorar li {
        text-decoration: none;
        font-size: 2em;
      }

    
   }
  